*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

li{
    list-style: none;
}

img{
  width: 100%;
  object-fit: cover;
}

.container{
  max-width: 1156px;
  margin: 0 auto;
}

.container--pall{
  margin-top: 100px;
}

.flex{
  display: flex;

  &__jc--sb{
    justify-content: space-between;
  }

  &__jc--c{
    justify-content: center;
    align-items: center;
  }

  &__al--c
}